.samplePage {
	padding: 2rem;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	color: #444;
	background-color: #ffc796;
	background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	min-height: 100vh;
	position: relative;
}

// í¼

.form {
	display: flex;
	width: 66.666667%;
	height: auto;
	--bg-opacity: 1;
	background-color: #f0f0f0;
	background-color: rgba(240, 240, 240, var(--bg-opacity));
	border-radius: 10px;
	margin: auto;
	padding: 1rem;
	margin-bottom: 0.75rem;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.form:hover {
	--bg-opacity: 1;
	background-color: #fff5f7;
	background-color: rgba(255, 245, 247, var(--bg-opacity));
}

.form > * > .title {
	font-weight: 700;
}

.form > .info-block {
	--text-opacity: 1;
	color: #f687b3;
	color: rgba(246, 135, 179, var(--text-opacity));
	font-weight: 700;
}

.form > * > .info-short {
	margin-right: 0.5rem;
	color: #afafaf;
}

@media (max-width: 800px) {
	.form > * > .info-short {
		display: none;
	}
}

.form > * > .info-link {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

.form .pr-3 {
	padding-right: 0.75rem;
}

.form .pr-2 {
	padding-right: 0.5rem;
}

.form .info-block {
	--text-opacity: 1;
	color: #f687b3;
	color: rgb(246, 135, 179);
	font-weight: 700;
}

.form .text-right {
	text-align: right;
}

.sample_item {
}
